<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/membership">membership</a>
    <% if(currentUser){ %> 
      <form action="/logout" method="POST">
        <button type="submit">logout</button>
      </form>
      <div>signed in as:<%=currentUser.username%></div>
      <a href="/message">post a message</a>
      <% }%>
    <a href="/sign-up">sign up</a>
    <a href="/login">login</a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>Messages</h1>
    <%if(messages){%>
      <ul>
        <%messages.forEach(message =>{ %>
          <li> 
            <span><%=message.title%></span>
            <span><%=message.content%></span>
            <span><%=message.timestamp%></span>
            <% if(currentUser && currentUser.membership){ %> 
              <span><%=message.author.username%></span>
              <%} %>
            <% if(currentUser && currentUser.admin){ %> 
              <form action="/delete-message" method="POST">
                <button type="submit">delete</button>
              </form>
             
              <%} %>
          </li>
        <%}  )%>
      </ul>
      <%} %>
  </body>
</html>
