<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/membership">membership</a>
    <% if(currentUser){ %> 
      <div>signed in as:<%=currentUser.username%></div>
      <a href="/message">post a message</a>
      <% }%>
    <a href="/sign-up">sign up</a>
    <a href="/login">login</a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>Messages</h1>
    <%if(messages){%>
      <ul>
        <%messages.forEach(message =>{ %>
          <li> 
            <span><%=message.title%></span>
            <span><%=message.content%></span>
            <span><%=message.timestamp%></span>
          
          </li>
        <%}  )%>
      </ul>
      <%} %>
  </body>
</html>
